<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Delete.....</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="col-md-offset-3 col-md-6">
     raise Data Deleted Successfully....
    click here to see<a href="{% url 'home' %}"><h3>Cumpany List...</h3></a>
</div>
</body>
</html>